*{
    box-sizing: border-box;
}

.blue {
    --clr: blue;
}
.red {
    --clr: red;
}
.yellow {
    --clr: yellow;
}
.green {
    --clr: green;
}

body{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    overflow-x: hidden;

}

h1{
    color: aqua;
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px black;
}

.box{
    background-color: var(--clr);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px black;
    transform: translateX(-400%);
}

.show{
    transform: translateX(0);
}

.box h2{
    font-size: 45px;

}

