.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1949;
  background-size: 80%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.checkout {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
  max-width: 1063px;
  border-bottom: 2px solid #bf2d06;
  padding-bottom: 4em;
  margin-bottom: 7em;
}

.style1 {
  max-width: 1040px;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 100px;
  position: relative;
  z-index: 999999;
}

.tickets {
  justify-content: center;
  display: flex;
  font-family: auto;
}

.checkout-title {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.checkout-price {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 95px;
  margin: 0;
  color: #bf2d06;
  margin-top: 1em;
  font-family: auto;
}

.checkout-description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.checkout-product-image {
  width: 400px;
}

.checkout-button {

  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 20px 40px rgba(23, 0, 102, 0.2);
  border-radius: 20px;

  display: flex;

  padding: 4px;
  width: 169px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 3em;
  
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkout-button:focus {
  outline: none;
}

.checkout-button:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1),
    0px 30px 60px rgba(23, 0, 102, 0.3);
  /* transform: translateY(-2px); */
  transition: all 0.5s ease-in-out;
  scale: 1.1;

}

.checkout-button .grey-circle {
  background: rgba(68, 66, 178, 0.1);
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-button .purple-circle {
  background: linear-gradient(200.44deg, #4316db 13.57%, #9076e7 98.38%);
  box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.checkout-button .icon {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.checkout-button .text-container {

  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.checkout-button .text {
  font-style: normal;
  font-weight: normal;
  font-size: x-large;
  line-height: 130%;
  margin: 0;
  color: #bf2d06;
  margin: 0;
  justify-content: center;
}



.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 2em;
}
.quantity-input:focus {
  background: red;
}

.quantity-input__modifier,
.quantity-input__screen {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-input__modifier {
  padding: 0.7rem;
  width: 3rem;
  font-size: 1.5rem;
  background: #f3f3f3;
  color: #bf2d06;
  border: 1px solid #bf2d06;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background-color: transparent;
}
.quantity-input__modifier:hover {
  background: black;
  color: #555555;
}
.quantity-input__modifier--left {
  border-radius: 7px 0 0 7px;
}
.quantity-input__modifier--right {
  border-radius: 0 7px 7px 0;
}

.quantity-input__screen {
  background-color: transparent;
  width: 4rem;
  padding: 0.9rem;
  font-size: 1.8rem;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}

.checkoutLeft {
  width: 50%; 
  float:left;
}
.checkoutRight {
  width: 50%; 
  float:right;
}

.ticket {
  float: left;
  margin-top: 6em;
  width: 90%;
  height: auto;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  display: inline-block;
  margin-right: 1em;
  color: wheat;
  border: transparent;
}
.right1 {
  position: absolute;
  right: 0px;
  display: inline-block;
  color: wheat;
  font-size: large;
}
.left {
  display: inline-block;
  margin-left: 1em;
  color: wheat;
}
.left1 {
  position: absolute;
  left: 0px;
  display: inline-block;
  color: wheat;
  font-size: large;
}

.vercent {
  display: flex;
  align-items: center;
}


.image-135 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 60%;
  border-radius: 2em;
  -o-object-fit: cover;
  object-fit: cover;
  height: 50%;
  width: 100%;
  max-width: 1460px;
    display: initial;
    height: 50%;
    max-height: 500px;
    margin-top: 4em;
    border-bottom: 2px solid #bf2d06;
    padding-top: 1.5em;
}

.borderio {
  padding-top: 10em;
  border-bottom: 2px solid #bf2d06;
  padding-bottom: 2.5em;
}

.buybuttontop {
  width: 4%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}
.buybuttontop2 {

    display: inline-block;

}

.buttonwidth {
  width: 20em;
}

.accountLeft {
  width: 50%;
  float: left;
  background-image: url('./images/vector1.png');
  min-height: 100%;
  background-size: cover;
  background-position: right;
  border-radius: 4em;
}

.accountRight {
  width: 50%;
  float: right;
  background-color: wheat;
  min-height: 100%;
}

@media screen and (max-width: 991px) {
  .image-135 {
    padding: 3em;
    border-radius: 5em;
    border-bottom: 0;
  }

  .center {
    display: flex;
    justify-content: flex-end;
  }

  .checkout-price{
    font-size: xx-large;
  }

}

@media screen and (max-width: 767px) {
  .image-135 {
    padding: 3em;
    border-radius: 5em;
    border-bottom: 0;
  }

  .center {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .checkoutLeft {
    padding-bottom: 41em;
    justify-content: center;
    display: flex;
    position: absolute;
    max-width: 80%;
    margin-top: 13em;
  }
  .ticket {
    width: 100%;
  }
  .checkoutRight{
    justify-content: center;
    display: grid;
    z-index: 10;
  }

  .centerPass {
    justify-content: center;
    display: flex;
  }
  .buttonwidth {
    width: 70%;
  }
}